@media screen and (min-width: 769px) {
    #app {
        max-width: 1600px;
    }

    .intro,
    .intro-light {
        padding: 58px 108px 75vh;
        border-radius: 0 0 60px 60px;
        background-image: url('/img/top-image-d.png');
        background-size: 100%;

        .logo {
            width: 149.5px;
        }

        .location {
            position: absolute;
            top: 50px;
            left: 50%;
            width: 144px;
            transform: translateX(-50%);
            margin: 0;
        }

        .login-form {
            top: 58px;
            right: 108px;

            p {
                margin-bottom: 5px;
                font-size: 18px;
            }

            label {
                font-size: 14px;
            }

            .group {
              display: inline-flex;
            }

            input[type='email'] {
                width: 150px;
                height: 24px;
                margin-left: 5px;
                border-radius: 5px 0 0 5px;
                font-size: 13px;
            }

            button[type=submit] {
              height: 24px;
              padding: 0 6px;
              border: 0;
              border-radius: 0 5px 5px 0;
              background: #6f2781;
              color: #ffffff;
              font-size: 13px;
              line-height: 1;
              cursor: pointer;
              transition: all .3s;

              &:hover {
                opacity: .9;
              }

              &:active,
              &:focus {
                outline: 0;
              }
            }
        }

        .discount {
            top: auto;
            bottom: 120px;
            width: 196.5px;
        }

        .play {
            bottom: 30%;
            margin: 0 0 0 -36px;

            button {
                width: 72px;
                height: 72px;
                font-size: 32px;
            }
        }
    }

    .intro-light {
        padding: 32px 108px;
        background: #da4290;
        border-radius: 0 0 15px 15px;

        .logo {
            img {
                max-width: 149.5px;
            }

            .city {
                font-size: 32px;
            }
        }

        .greetings {
            p {
                font-size: 18px;
            }
        }
    }

    .flex {
        display: flex;
    }

    .info {
        .flex {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 760px;
            margin: 0 auto;
        }

        .instructions {
            margin: 0 auto;
            max-width: 760px;
            font-size: 21px;
        }

        .coupon {
            max-width: 170px;
            margin-top: 0;
            margin-left: 50px;
        }

        .hashtag {
            font-size: 28px;
        }

        .social {
            hr {
                max-width: 600px;
            }

            .whatsapp {
                max-width: 600px;
            }

            .text {
                max-width: 600px;
                font-size: 24px;
                font-weight: 100;
            }

            .social-network-list {
                li {
                    margin: 0 40px;
                }

                .icon {
                    width: 16px;
                    height: 16px;
                    border: 4px solid #702283;
                    border-radius: 8px;
                }

                .type {
                    margin-top: 8px;
                    font-size: 11px;
                }

                .name {
                    margin-top: 4px;
                    font-size: 16px;
                }
            }
        }
    }

    footer {
        border-radius: 23px 23px 0 0;
        margin-top: 30px;
        padding: 40px 80px;
        background-color: #ededed;

        p {
            margin: 0;
            font-size: 14px;
            line-height: 1.25;
            color: #595959;
        }
    }

    .mobile-only {
        display: none !important;
    }
}
