@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');
@import '../font/style'; // Avenir Next font

// packages
@import '~leaflet/dist/leaflet';

@import 'reset';

[v-cloak] {
    display: none;
}

body {
    font-family: 'Lato', sans-serif;
}

#app {
    max-width: 468px;
    margin: 0 auto;
}

.intro,
.intro-light {
    position: relative;
    padding: 42px 20px 88%;
    border-radius: 0 0 15px 15px;
    background-color: #da4290;
    background-image: url('/img/top-image.png');
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.3);
    z-index: 10;

    a {
        text-decoration: none;
    }

    .logo {
        line-height: 0;
        width: 100px;
    }

    .login-form {
        position: absolute;
        top: 42px;
        right: 20px;

        p {
            margin: 0 0 1px 0;
            font-size: 11px;
            font-weight: 900;
            line-height: 1;
            text-transform: uppercase;
            color: #ffffff;
        }

        label {
            display: inline-block;
            font-size: 10px;
            text-transform: uppercase;
            color: #ffffff;
        }

        input[type='email'] {
            width: 90px;
            height: 16px;
            padding: 0 10px;
            border: 0;
            border-radius: 5px;
            background-color: #ffffff;
            font-family: 'Lato', sans-serif;
            font-size: 10px;
            color: #d94591;

            &:focus {
                outline: 0;
            }

            &::-webkit-input-placeholder {
                text-transform: uppercase;
                color: #d94591;
                opacity: 0.9;
            }

            &::-moz-placeholder {
                text-transform: uppercase;
                color: #d94591;
                opacity: 0.9;
            }

            &:-ms-input-placeholder {
                text-transform: uppercase;
                color: #d94591;
                opacity: 0.9;
            }

            &:-moz-placeholder {
                text-transform: uppercase;
                color: #d94591;
                opacity: 0.9;
            }
        }

        .group {
          display: inline-flex;
        }
    }

    .location {
        margin: 20px auto 12px;
        width: 96px;
        line-height: 0;
    }

    .discount {
        position: absolute;
        top: 220px;
        left: 0;
        width: 131px;
        line-height: 0;
    }

    .arrow-down {
        position: absolute;
        bottom: 18px;
        left: 50%;
        width: 17px;
        margin-left: -8.5px;
        line-height: 0;
        animation: 1s bouncing infinite;
    }

    .play {
        position: absolute;
        bottom: 20%;
        left: 50%;
        margin: 0 0 0 -24px;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: 1px solid rgba(255, 70, 153, 0.67);
            border-radius: 50%;
            animation: pulsing 2s infinite;
            z-index: 2;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: 1px solid rgba(255, 70, 153, 0.67);
            border-radius: 50%;
            animation: pulsing 2s infinite;
            animation-delay: 0.5s;
            z-index: 2;
        }

        button {
            position: relative;
            width: 48px;
            height: 48px;
            padding: 0 0 0 4px;
            border: 2px solid #ffffff;
            border-radius: 50%;
            background: none;
            font-size: 18px;
            line-height: 0;
            color: #ffffff;
            cursor: pointer;
            z-index: 3;
            transition: all 0.3s;

            &:hover {
                opacity: 0.75;
            }

            &:active,
            &:focus {
                outline: 0;
            }
        }
    }

    .modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1000;

        .content {
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%, 0);
            width: 90%;
            max-width: 960px;
            z-index: 1001;

            .close {
                position: absolute;
                top: -34px;
                right: 0;
                width: 24px;
                height: 24px;
                padding: 0;
                border: 0;
                background: none;
                font-size: 18px;
                line-height: 0;
                color: #ffffff;
                cursor: pointer;
                transition: all 0.3s;

                &:hover {
                    opacity: 0.75;
                }

                &:active,
                &:focus {
                    outline: 0;
                }
            }
        }
    }

    .video {
        position: relative;
        max-width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        overflow: hidden;

        iframe,
        object,
        embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.intro-light {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 42px 20px;
    border-radius: 0 0 15px 15px;
    background: none;
    background-color: #da4290;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.3);
    z-index: 10;

    .logo {
        width: auto;

        img {
            max-width: 100px;
        }

        .city {
            margin-top: 5px;
            font-family: 'Avenir Next';
            font-size: 21px;
            font-weight: 900;
            line-height: 1;
            text-transform: uppercase;
            color: #61277f;
        }
    }

    .greetings {
        top: 50px;

        p {
            font-family: 'Avenir Next', sans-serif;
            font-size: 14px;
            font-weight: 400;
            text-transform: none;
            color: #ffffff;

            strong {
                font-weight: 700;
            }
        }
    }
}

.info {
    margin-top: 28px;
    padding: 0 20px;

    .instructions {
        font-size: 12px;
        text-align: center;
        color: #702283;

        &.panel {
            font-family: 'Avenir Next', sans-serif;
            color: #da4290;
            text-align: justify;
        }
    }

    .coupon {
        margin-top: 30px;
    }

    .hashtag {
        margin-top: 16px;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        color: #da4290;
    }

    .social {
        margin-top: 30px;

        hr {
            max-width: 318px;
            height: 1px;
            margin: 25px auto;
            border: 0;
            background-color: #da4290;
        }

        .whatsapp {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 318px;
            margin: 0 auto 25px;
            padding: 0 18px;

            .wa-text {
                font-family: 'Avenir Next', sans-serif;
                font-size: 12px;
                font-weight: 500;
                color: #da4290;
            }

            .icon {
                flex: 0 0 28px;
                width: 28px;
                height: 28px;
                line-height: 0;
            }
        }

        .text {
            max-width: 318px;
            margin: 0 auto;
            padding: 0 0 8px 18px;
            border-bottom: 1px solid #da4290;
            font-size: 16px;
            font-weight: 300;
            color: #da4290;
        }

        .social-network-list {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            list-style: none;

            li {
                margin: 0 10px;
            }

            .icon {
                width: 8px;
                height: 8px;
                border: 2px solid #702283;
                border-radius: 4px;
                background-color: #da4290;
            }

            .type {
                margin-top: 5px;
                font-size: 7px;
                font-weight: 700;
                text-transform: uppercase;
                color: #333333;
            }

            .name {
                margin-top: 2px;
                font-size: 11px;

                a {
                    text-decoration: none;
                    color: #da4290;
                    transition: all 0.3s;

                    &:hover {
                        color: lighten(#da4290, 10%);
                    }

                    &:active,
                    &:focus {
                        outline: 0;
                    }
                }
            }
        }
    }
}

footer {
    border-radius: 23px 23px 0 0;
    margin-top: 20px;
    padding: 12px;
    background-color: #cccccc;

    p {
        margin: 0;
        font-size: 8px;
        color: #595959;

        span {
            color: #da4290;
        }
    }
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #702283;
    color: #ffffff;

    .image {
        margin-top: 50px;
        width: 100px;
    }

    .error-number {
        margin: 30px 0 0;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
    }

    .error-text {
        margin: 0;
        font-size: 36px;
        font-weight: 100;
        line-height: 1;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .desktop-only {
        display: none !important;
    }
}

@keyframes pulsing {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    33% {
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes bouncing {
    0%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(0, 3px, 0);
    }
}

.slide-enter-active,
.slide-leave-active {
    transition: transform 0.5s ease;
}

.slide-enter,
.slide-leave-to {
    transform: translate3d(0, -100%, 0);
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

@import 'desktop';
