<template>
    <transition-group tag="div" :id="`toast-list_${id}`" name="fade-top" @leave="leave" @afterLeave="position()">
        <Toast :toast="toast" :key="toast.id" v-for="toast in toasts" @hide="hide(toast.id)" />
    </transition-group>
</template>

<script>
import Toast from './Toast.vue';

export default {
  components: { Toast },
  data() {
    return {
      id: this.generateId(),
      toasts: [],
    };
  },
  methods: {
    show(params) {
      this.addElement();

      if (!params.text || !params.type) {
        console.log(new Error('Text/Type param is required.'));
        return;
      }

      const toast = {
        duration: params.duration || 5000,
        id: performance.now(),
        text: params.text,
        type: params.type,
      };

      if (params.action) {
        toast.action = () => {
          params.action();
        };
      }

      this.toasts.unshift(toast);
      this.$nextTick(() => {
        this.position();
      });
    },
    hide(id) {
      const index = this.toasts.findIndex(item => item.id === id);
      if (index >= 0) this.toasts.splice(index, 1);
      if (this.toasts.length === 0) setTimeout(this.removeElement, 300);
    },
    position() {
      const els = this.$el.querySelectorAll('.toast');
      let totalHeight = 0;
      els.forEach((el, index) => {
        const top = totalHeight + 10 * index;
        el.style.transform = `translate3d(0, ${top}px, 0)`;
        el.style.transitionDelay = `${0.015 * index}s`;
        totalHeight += el.offsetHeight;
      });
    },
    leave(el, done) {
      el.style.opacity = 0;
      el.style.transform += ' scale(0.9)';
      setTimeout(done, 300);
    },
    generateId() {
      const chars = 'abcdefghijklmnopqrstuvwxyz0123456789';
      let randS = '';
      let length = 16;

      while (length > 0) {
        randS += chars.charAt(Math.floor(Math.random() * chars.length));
        length--;
      }
      return randS;
    },
    addElement() {
      if (this.elementExists()) return;

      if (!this.$el) {
        this.$mount();
      }

      document.body.appendChild(this.$el);
    },
    removeElement() {
      document.body.removeChild(this.$el);
    },
    elementExists() {
      return document.body.contains(document.getElementById(`toast-list_${this.id}`));
    },
  },
};
</script>

<style lang="scss">
    .fade-top-enter-active,
    .fade-top-leave-active {
        pointer-events: none;
        transition-delay: 0s !important;
    }

    .fade-top-enter {
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }
</style>
