<template>
    <div
        class="toast"
        :class="toastClass"
        @click="hide()"
        @mouseenter="pause"
        @mouseleave="start"
    >
        <div class="toast__timebar"></div>
        <div class="toast__content">
            <div class="content__icon">
                <FontAwesomeIcon :icon="['fas', icon]" />
            </div>
            <div class="content__text">
                {{ toast.text }}
                <span class="action" v-if="toast.action">
                    <button @click.stop="toast.action">[Desfazer]</button>
                </span>
            </div>
        </div>
    </div>
</template>

<script>
import Timer from '../../helpers/Timer';

export default {
  props: {
    toast: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      timer: null,
    };
  },
  computed: {
    icon() {
      if (this.toast.type === 'success') return 'check-circle';
      if (this.toast.type === 'error') return 'exclamation-triangle';
      return 'info-circle';
    },
    toastClass() {
      const classes = {
        danger: 'toast--is-danger',
        error: 'toast--is-danger',
        info: 'toast--is-info',
        success: 'toast--is-success',
      };

      return classes[this.toast.type];
    },
  },
  mounted() {
    this.$nextTick(() => {
      this.startTimebar();
    });

    this.timer = new Timer(() => {
      this.hide();
    }, this.toast.duration);
  },
  methods: {
    hide() {
      this.$emit('hide', this.toast);
    },
    startTimebar() {
      const timebar = this.$el.childNodes[0];
      timebar.style.width = 0;
      timebar.style.transition = `width ${this.timer.getRemaining()}ms linear`;
    },
    pauseTimerbar() {
      const timebar = this.$el.childNodes[0];
      timebar.style.width = window.getComputedStyle(timebar).getPropertyValue('width');
      timebar.style.transition = 'none';
    },
    pause() {
      this.timer.pause();
      this.pauseTimerbar();
    },
    start() {
      this.timer.resume();
      this.startTimebar();
    },
  },
};
</script>

<style lang="scss" scoped>
    .toast {
        position: fixed;
        top: 20px;
        right: 20px;
        max-width: 280px;
        padding: 12px;
        border-radius: 5px;
        opacity: .9;
        transform: translate3d(0, 0, 0);
        transition: opacity 0.3s, transform 0.3s ease;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
        cursor: pointer;
        z-index: 1000;
        overflow: hidden;

        &:hover {
            opacity: 1;
        }

        &--is-success {
            background: linear-gradient(135deg, #1db74d, #2dc76d);
            color: #fff;
        }

        &--is-danger {
            background: linear-gradient(135deg, #b31217, #e52d27);
            color: #fff;
        }

        &--is-info {
            background: linear-gradient(135deg, #396afc, #2948ff);
            color: #fff;
        }

        &__timebar {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background: rgba(0, 0, 0, .25);
        }

        &__content {
            display: flex;
            align-items: center;
        }
    }

    .content {
        &__icon {
            margin-right: 12px;
            font-size: 21px;
            line-height: 1;
        }

        &__text {
            flex-wrap: wrap;
            max-width: 360px;

            span {
                margin-left: 5px;
            }

            button {
                display: inline-block;
                padding: 0;
                background: none;
                border: 0;
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 14px;
                color: #fff;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }

                &:active,
                &:focus {
                    outline: 0;
                }
            }
        }
    }

    .fade-top-enter-active, .fade-top-leave-active {
        pointer-events: none;
        transition-delay: 0s !important;
    }

    .fade-top-enter {
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }
</style>
