<template>
  <div class="countdown">
    <div class="remaining-time">
      <div class="fragment">
        <div class="number">{{ remainingDays }}</div>
        <div class="label">dias</div>
      </div>
      <div class="separator"></div>
      <div class="fragment">
        <div class="number">{{ remainingHours }}</div>
        <div class="label">horas</div>
      </div>
      <div class="separator"></div>
      <div class="fragment">
        <div class="number">{{ remainingMinutes }}</div>
        <div class="label">minutos</div>
      </div>
      <div class="separator"></div>
      <div class="fragment">
        <div class="number">{{ remainingSeconds }}</div>
        <div class="label">segundos</div>
      </div>
    </div>
    <div class="info">
      <div class="big">
        Para o dia da<br class="desktop-only">
        inauguração
      </div>
      <div class="small">Dia {{ day }}/{{ month }}/{{ year }} às {{ hour }}h{{ minute }} {{ place }}</div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';

export default {
  props: {
    date: {
      type: String,
      required: true,
    },
    place: {
      type: String,
      required: true,
    }
  },
  data() {
    return {
      countdownTime: null,
    };
  },
  computed: {
    parsedDate() {
      return moment(this.date);
    },
    minute() {
      return ('' + this.parsedDate.minutes()).padStart(2, '0');
    },
    hour() {
      return ('' + this.parsedDate.hours()).padStart(2, '0');
    },
    day() {
      return ('' + this.parsedDate.date()).padStart(2, '0');
    },
    month() {
      return ('' + (this.parsedDate.month() + 1)).padStart(2, '0');
    },
    year() {
      return ('' + this.parsedDate.year()).padStart(4, '0');
    },
    remainingDays() {
      return Math.floor(this.countdownTime / (1000 * 60 * 60 * 24));
    },
    remainingHours() {
      return Math.floor((this.countdownTime % (1000 * 60 * 60 * 24))/(1000 * 60 * 60));
    },
    remainingMinutes() {
      return Math.floor((this.countdownTime % (1000 * 60 * 60)) / (1000 * 60));
    },
    remainingSeconds() {
      return Math.floor((this.countdownTime % (1000 * 60)) / 1000);
    },
  },
  mounted() {
    this.updateRemaining();
    setInterval(this.updateRemaining, 1000);
  },
  methods: {
    updateRemaining() {
      const now = moment().valueOf();
      const deadline = this.parsedDate.valueOf();
      this.countdownTime = deadline - now;
    },
  },
};
</script>

<style lang="scss" scoped>
.countdown {
  position: relative;
  margin-top: -15px;
  padding: 35px 20px 20px;
  border-radius: 0 0 15px 15px;
  background-color: #702283;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  z-index: 9;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: -60px;
    padding: 100px 20px 40px;
    border-radius: 0 0 0 15px;
    box-shadow: none;
  }
}

.remaining-time {
  display: flex;
  justify-content: center;
  align-items: center;

  .separator {
    flex: 0 0 1px;
    width: 1px;
    height: 90px;
    background-color: #ffffff;
    transform: rotate(20deg)
  }

  .fragment {
    flex: 0 0 80px;
    text-align: center;

    @media screen and (min-width: 769px) {
     flex: 0 0 130px;
    }
  }

  .number {
    font-size: 32px;
    font-weight: 600;

    @media screen and (min-width: 769px) {
      font-size: 48px;
    }
  }

  .label {
    font-size: 12px;

    @media screen and (min-width: 769px) {
      font-size: 20px;
    }
  }

  @media screen and (min-width: 769px) {
    width: 523px;
  }
}

.info {
  margin-top: 5px;
  text-align: center;

  .big {
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;

    @media screen and (min-width: 769px) {
      font-size: 27px;
    }
  }

  .small {
    margin-top: 8px;
    font-size: 18px;
    font-weight: 700;

    @media screen and (min-width: 769px) {
      font-size: 18px;
    }
  }

  @media screen and (min-width: 769px) {
    width: 430px;
    margin-top: 0;
    text-align: left;
  }
}
</style>
