<template>
  <div class="temp-form">
    <div class="info">
      <div class="big">Faça seu cadastro aqui mesmo e chega mais!</div>
      <div class="small">
        É hora de descolar
        <span class="highlight">até 30%</span> de desconto em
        <br />
        <span class="highlight">toda a loja</span> na inauguração. Vem!
      </div>
    </div>
    <form method="POST" :action="`/${place}/register`">
      <div class="field">
        <input type="hidden" name="inStore" :value="inStore">
        <input type="hidden" name="indication_code" :value="indicationCode">
        <input type="email" name="email" placeholder="seu e-mail _" required v-model="email" />
        <button type="submit">Quero!</button>
      </div>
    </form>
  </div>
</template>

<script>
import axios from 'axios';
import { mask } from 'vue-the-mask';
import Loader from './Loader.vue';

export default {
  components: { Loader },
  directives: { mask },
  props: {
    place: {
      type: String,
      required: true,
    },
    inStore: {
      type: Boolean,
      required: true,
    },
    indicationCode: {
      type: String,
      required: false,
      default: null,
    },
  },
  data() {
    return {
      step: 0,
      email: null,
      name: null,
      cpf: null,
      phone: null,
      categories: [],
      busy: false,
    };
  },
  methods: {
    onSubmitStepOne() {
      fbq('track', 'Lead')
      this.step++;
    },
  },
};
</script>

<style lang="scss" scoped>
.temp-form {
  position: relative;
  margin-top: -15px;
  padding: 35px 20px 20px;
  border-radius: 0 0 15px 15px;
  background-color: #611d72;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.3);
  color: #da4290;
  z-index: 8;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: -60px;
    padding: 100px 20px 40px;
    border-radius: 0 0 15px 0;
    background-color: #702283;
    box-shadow: none;
  }
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(97, 29, 114, 0.75);

    @media screen and (min-width: 769px) {
      background-color: rgba(112, 34, 131, .75);
    }
  }

  .loader {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.info {
  text-align: center;

  .big {
    font-size: 19.74px;
    font-weight: 700;
    color: #da4290;

    @media screen and (min-width: 769px) {
      font-size: 26px;
    }
  }

  .small {
    margin-top: 8px;
    font-size: 12.656666667px;
    color: #fb5eae;

    .highlight {
      font-weight: 700;
      text-transform: uppercase;
    }

    @media screen and (min-width: 769px) {
      font-size: 16px;
    }
  }

  @media screen and (min-width: 769px) {
    margin-top: 0;
  }
}

form {
  position: relative;
  margin-top: 20px;
}

.field {
  position: relative;
  width: 280px;
  margin: 10px auto 0;
  text-align: center;

  button {
    position: absolute;
    top: 0;
    right: 0;
  }

  @media screen and (min-width: 769px) {
    width: 360px;
  }
}

input[type='email'] {
  width: 100%;
  height: 34px;
  padding-right: 100px;
  padding-bottom: 2px;
  padding-left: 12px;
  border-radius: 17px;
  border: 1px solid #da4290;
  background: none;
  font-size: 14px;
  color: #da4290;
  transition: all 0.3s;

  &:focus {
    outline: 0;
    border-color: lighten(#da4290, 5%);
  }

  &::-webkit-input-placeholder {
    color: #da4290;
    opacity: 0.5;
  }

  &::-moz-placeholder {
    color: #da4290;
    opacity: 0.5;
  }

  &:-ms-input-placeholder {
    color: #da4290;
    opacity: 0.5;
  }

  &:-moz-placeholder {
    color: #da4290;
    opacity: 0.5;
  }

  @media screen and (min-width: 769px) {
    width: 320px;
    height: 42px;
    border-radius: 21px;
    font-size: 16px;
  }
}

.options {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0;
  padding: 0;
}

input[type='checkbox'] {
  position: absolute;
  left: -9999px;
  visibility: hidden;

  &:checked {
    + label {
      background-color: #da4290;
      color: #702283;
    }
  }

  + label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 90px;
    margin: 0 2.5px;
    border: 1px solid #da4290;
    border-radius: 17px;
    font-size: 14px;
    color: #da4290;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      opacity: .75;
    }

    @media screen and (min-width: 769px) {
      width: 120px;
      height: 42px;
      margin: 0 10px;
      border-radius: 21px;
      font-size: 16px;
    }
  }
}

button[type='submit'] {
  width: 100px;
  height: 34px;
  border: 0;
  border-radius: 17px;
  background-color: #da4290;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  transition: all .3s;

  &:hover {
    opacity: .75;
  }

  @media screen and (min-width: 769px) {
    width: 150px;
    height: 42px;
    border-radius: 21px;
    font-size: 16px;
  }
}

.finished {
  p {
    max-width: 300px;
    margin: 35px auto 20px;
    text-align: center;
  }
}
</style>
