<template>
  <transition name="fade">
    <div class="finish-register" @click.self="$root.isRegisterVisible = false;">
      <transition name="slide">
        <div class="content" :key="$root.isRegisterVisible">
          <div class="title">Cadastro</div>
          <form method="POST" :action="`/${city}/finish-register`" @submit.prevent="handleSubmit">
            <div class="field">
              <label for="name">Nome*</label>
              <input type="text" name="name" id="name" required v-model="name" />
            </div>
            <div class="field">
              <label for="cpf">CPF*</label>
              <input type="text" name="cpf" id="cpf" v-mask="'###.###.###-##'" required v-model="cpf" />
            </div>
            <div class="field">
              <label for="phone">Telefone</label>
              <input type="text" name="phone" id="phone" v-mask="['(##) ####-####', '(##) #####-####']" v-model="phone" />
            </div>
            <div class="field-2">
              <div class="question">Quais categorias de sapatos você consome?</div>
              <ul class="options">
                <li>
                  <input
                    type="checkbox"
                    value="Feminino"
                    name="categories[]"
                    id="option-feminino"
                    v-model="categories"
                  />
                  <label for="option-feminino">Feminino</label>
                </li>
                <li>
                  <input
                    type="checkbox"
                    value="Masculino"
                    name="categories[]"
                    id="option-masculino"
                    v-model="categories"
                  />
                  <label for="option-masculino">Masculino</label>
                </li>
                <li>
                  <input
                    type="checkbox"
                    value="Infantil"
                    name="categories[]"
                    id="option-infantil"
                    v-model="categories"
                  />
                  <label for="option-infantil">Infantil</label>
                </li>
              </ul>
            </div>
            <div class="field has-text-right" style="margin-top: 20px;">
              <button type="submit">Finalizar</button>
            </div>
          </form>
        </div>
      </transition>
    </div>
  </transition>
</template>

<script>
import { mask } from 'vue-the-mask';
import axios from 'axios';

export default {
  directives: { mask },
  props: {
    city: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      categories: [],
      cpf: null,
      name: null,
      phone: null,
      errorMessage: null,
    };
  },
  methods: {
    async handleSubmit(evt) {
      const validation = await this.validate();
      if (!validation) {
        this.$toast.show({
          type: 'error',
          text: this.errorMessage,
        });
        return;
      }
      fbq('track', 'Lead');
      evt.target.submit();
    },
    async validate() {
      if (!this.validateCPF(this.cpf)) {
        this.errorMessage = 'O CPF digitado é inválido.';
        return false;
      }
      const uniqueCPF = await this.uniqueCPF(this.cpf);
      if (!uniqueCPF) {
        this.errorMessage = 'O CPF digitado já está cadastrado.';
        return false;
      }

      if (this.categories.length < 1) {
        this.errorMessage = 'Selecione pelo menos UMA categoria de sapatos.';
        return false;
      }

      if (this.phone !== null && this.phone !== '' && this.phone.length < 14) {
        this.errorMessage = 'Número de telefone inválido.';
        return false;
      }

      return true;
    },
    validateCPF(cpf) {
      cpf = cpf.replace(/[^\d]+/g, '');
      if (cpf == '') return false;
      // Elimina CPFs invalidos conhecidos
      if (
        cpf.length != 11 ||
        cpf == '00000000000' ||
        cpf == '11111111111' ||
        cpf == '22222222222' ||
        cpf == '33333333333' ||
        cpf == '44444444444' ||
        cpf == '55555555555' ||
        cpf == '66666666666' ||
        cpf == '77777777777' ||
        cpf == '88888888888' ||
        cpf == '99999999999'
      )
        return false;
      // Valida 1o digito
      let add = 0;
      let rev;
      for (let i = 0; i < 9; i++) add += parseInt(cpf.charAt(i)) * (10 - i);
      rev = 11 - (add % 11);
      if (rev == 10 || rev == 11) rev = 0;
      if (rev != parseInt(cpf.charAt(9))) return false;
      // Valida 2o digito
      add = 0;
      for (let i = 0; i < 10; i++) add += parseInt(cpf.charAt(i)) * (11 - i);
      rev = 11 - (add % 11);
      if (rev == 10 || rev == 11) rev = 0;
      if (rev != parseInt(cpf.charAt(10))) return false;
      return true;
    },
    async uniqueCPF(cpf) {
      try {
        await axios.get(`/api/users/check-cpf/${cpf}`);
        return true;
      } catch(err) {
        return false;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.finish-register {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;

  .content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 480px;
    border: 3px solid #da4290;
    border-bottom: 0;
    border-radius: 15px 15px 0 0;
    background-color: #f5f4f4;

    .title {
      margin: 10px 0;
      font-family: 'Avenir Next Ultra';
      font-size: 30px;
      text-align: center;
      color: #da4290;
    }

    form {
      display: block;
      padding: 40px 30px 0;
      border-radius: 15px 15px 0 0;
      background-color: #da4290;
      color: #ffffff;

      .field-2 {
        margin-top: 10px;
      }

      .field {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        &.has-text-right {
          justify-content: flex-end;
        }
      }

      label {
        flex: 0 0 68px;
        line-height: 1;
        text-align: right;
      }

      input[type='text'],
      input[type='tel'] {
        flex: 1;
        height: 24px;
        margin-left: 10px;
        padding: 0 10px;
        border: 1px solid #702283;
        border-radius: 12px;
        background: transparent;
        font-size: 13px;
        color: #702283;

        &:focus {
          outline: 0;
          opacity: 0.75;
        }
      }

      .question {
        margin-top: 30px;
        font-size: 14px;
      }

      .options {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0 0;
        padding: 0;

        input[type='checkbox'] {
          position: absolute;
          left: -9999px;
          visibility: hidden;

          &:checked {
            + label {
              background-color: #702283;
              color: #ffffff;
            }
          }

          + label {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 34px;
            width: 90px;
            margin: 0 2.5px;
            border: 1px solid #702283;
            border-radius: 17px;
            font-size: 14px;
            color: #702283;
            cursor: pointer;
            transition: all 0.3s;

            @media screen and (min-width: 769px) {
              width: 120px;
              height: 42px;
              margin: 0 10px;
              border-radius: 21px;
              font-size: 16px;

              &:hover {
                opacity: 0.75;
              }
            }
          }
        }
      }

      button {
        width: 140px;
        height: 60px;
        margin-top: 20px;
        border: 0;
        border-radius: 15px 15px 0 0;
        background-color: #702283;
        color: #ffffff;
        cursor: pointer;
      }
    }
  }
}
</style>
