<template>
  <div class="indications">
    <div class="steps">
      <div class="step" :class="{ 'is-completed': discount >= 20 }">
        <div class="circle">
          <div class="text-center">20<span class="percentage">%</span></div>
          <svg version="1.1" viewBox="0 0 100 100" preserveAspectRatio="xMinYMin meet">
            <circle cx="50" cy="50" r="45" fill="transparent" stroke-dashoffset="0"></circle>
            <circle class="progress" cx="50" cy="50" r="45" fill="transparent"></circle>
          </svg>
        </div>
        <div class="label">
          <span v-if="discount >= 20">Cadastro</span>
          <button v-else @click="$root.isRegisterVisible = true;">
            Finalizar<br class="mobile-only">
            Cadastro
          </button>
        </div>
      </div>
      <div class="step" :class="{ 'is-completed': discount >= 30 }">
        <div class="circle">
          <div class="text-center">+10<span class="percentage">%</span></div>
          <svg version="1.1" viewBox="0 0 100 100" preserveAspectRatio="xMinYMin meet">
            <circle cx="50" cy="50" r="45" fill="transparent" stroke-dashoffset="0"></circle>
            <circle class="progress" cx="50" cy="50" r="45" fill="transparent" ></circle>
          </svg>
        </div>
        <div class="label">Indicação 1</div>
      </div>
    </div>
    <hr class="mobile-only">
    <div class="total-discount">Total do seu desconto <span id="discount" class="discount"></span></div>
    <div class="tip">
      <div class="text">Indique seus amigos abaixo e aumente seu desconto!</div>
      <div class="arrow"><FontAwesomeIcon :icon="['fas', 'chevron-down']" /></div>
    </div>
  </div>
</template>

<script>
import { CountUp } from 'countup.js';

export default {
  props: {
    discount: {
      type: Number,
      required: true,
    }
  },
  mounted() {
    const countUp = new CountUp('discount', this.discount);
    countUp.start();
  }
}
</script>

<style lang="scss" scoped>
.indications {
  position: relative;
  margin-top: -15px;
  padding: 35px 20px 70px;
  border-radius: 0 0 15px 15px;
  background-color: #da4290;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.4);
  z-index: 8;

  @media screen and (min-width: 769px) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0 120px;
  }
}

hr {
  width: 100%;
  margin: 20px auto;
  border: 0;
  height: 1px;
  background-color: #481554;
}

.total-discount {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  line-height: 1;
  font-family: 'Avenir Next', sans-serif;
  font-size: 14px;
  text-align: center;
  color: #ffffff;

  .discount {
    margin-left: 15px;
    font-size: 34px;
    font-weight: 700;

    &:after {
      content: '%';
      font-size: 22px;
    }

    @media screen and (min-width: 769px) {
      margin-top: 10px;
      margin-left: 0;
      font-size: 72px;
      letter-spacing: -4px;

      &:after {
        font-size: 36px;
      }
    }
  }

  @media screen and (min-width: 769px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 0 0 220px;
    margin-left: 10px;
    padding: 30px 0 30px 30px;
    border-left: 1px solid #481554;
    font-size: 22px;
    text-align: left;
  }
}

.tip {
  position: absolute;
  bottom: 0;
  left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 50px;
  border-radius: 15px 15px 0 0;
  background-color: #6f2781;

  .text {
    margin-top: -10px;
    font-family: 'Avenir Next';
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -.5px;
    text-align: center;
    color: #ffffff;

    @media screen and (min-width: 769px) {
      font-size: 18px;
    }
  }

  .arrow {
    position: absolute;
    left: 50%;
    bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    font-size: 14px;
    color: #ffffff;
    animation: 1s bouncing infinite;

    @media screen and (min-width: 769px) {
      bottom: 8px;
      font-size: 18px;
    }
  }

  @media screen and (min-width: 769px) {
    left: 10%;
    width: 80%;
    height: 80px;
  }
}

.steps {
  display: flex;
  justify-content: space-around;
}

.step {
  &.is-completed {
    circle {
      stroke: #6f2781;
    }

    .progress {
      stroke: #6f2781;
      animation-name: fill-full !important;
    }

    .text-center,
    .label {
      color: #6f2781;
    }
  }

  .progress {
    animation-fill-mode: forwards;
    animation-timing-function: ease;
  }

  .label {
    margin-top: 5px;
    font-size: 11.333333333px;
    text-align: center;
    color: #ffffff;

    button {
      padding: 6px 10px 5px;
      border: 0;
      border-radius: 5px;
      background: #6f2781;
      font-size: 8px;
      text-transform: uppercase;
      color: #ffffff;
      cursor: pointer;
      transition: all .3s;

      &:active,
      &:focus {
        outline: 0;
      }

      @media screen and (min-width: 769px) {
        height: 28px;
        padding: 0 15px;
        border-radius: 14px;
        font-size: 12px;
        line-height: 1;

        &:hover {
          opacity: .9;
        }
      }
    }

    @media screen and (min-width: 769px) {
      font-size: 18px;
    }
  }

  &:nth-child(1) {
    .progress {
      stroke-dashoffset: 300;
      animation-name: fill-1;
      animation-duration: 1.2s;
    }
  }

  &:nth-child(2) {
    .progress {
      stroke-dashoffset: 300;
      animation-name: fill-2;
      animation-duration: 1.2s;
      animation-delay: .3s;
    }
  }

  &:nth-child(3) {
    .progress {
      stroke-dashoffset: 300;
      animation-name: fill-3;
      animation-duration: 1.2s;
      animation-delay: .6s;
    }
  }

  &:nth-child(4) {
    .progress {
      stroke-dashoffset: 300;
      animation-name: fill-4;
      animation-duration: 1.2s;
      animation-delay: .9s;
    }
  }

  @media screen and (min-width: 769px) {
    margin: 0 20px;
  }
}

.circle {
  position: relative;
  width: 60px;
  height: 60px;

  .text-center {
    position: absolute;
    top: calc(50% + 1px);
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Avenir Next', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: #ffffff;

    .percentage {
      font-size: 14px;
    }

    @media screen and (min-width: 769px) {
      font-size: 42px;

      .percentage {
        font-size: 24px;
      }
    }
  }

  svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg);

   circle {
      stroke-dasharray: 300;
      transition: stroke-dashoffset 1s linear;
      stroke: #ffffff;
      stroke-width: 2px;

      &:not(.progress) {
        stroke-dashoffset: 0;
      }

      &.progress {
        stroke: #ffffff;
        stroke-width: 6px;
      }
    }
  }

  @media screen and (min-width: 769px) {
    width: 160px;
    height: 160px;
  }
}

@keyframes fill-1 {
  0% {
    stroke-dashoffset: 300;
  }

  100% {
    stroke-dashoffset: 229;
  }
}

@keyframes fill-2 {
  0% {
    stroke-dashoffset: 300;
  }

  100% {
    // stroke-dashoffset: 205.666666667;
    stroke-dashoffset: 229;
  }
}

@keyframes fill-3 {
  0% {
    stroke-dashoffset: 300;
  }

  100% {
    // stroke-dashoffset: 182.333333334;
    stroke-dashoffset: 229;
  }
}

@keyframes fill-4 {
  0% {
    stroke-dashoffset: 300;
  }

  100% {
    // stroke-dashoffset: 158.5;
    stroke-dashoffset: 229;
  }
}

@keyframes fill-full {
  0% {
    stroke-dashoffset: 300;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
</style>