<template>
  <div class="invite-friends">
    <div class="wrapper">
      <p class="title">Convide seus Amigos!</p>
      <ul class="share-options">
        <li>
          <a
            :href="`https://api.whatsapp.com/send?text=${shareLink}`"
            class="share"
            target="_blank"
          >Convidar</a>
        </li>
        <li>
          <a
            :href="`https://api.whatsapp.com/send?text=${shareLink}`"
            class="share-icon"
            target="_blank"
          >
            <img src="/img/icon-whatsapp.png" alt="WhatsApp" />
          </a>
        </li>
        <li class="mobile-only">
          <a
            :href="`fb-messenger://share/?link=${shareLink}`"
            class="share-icon"
          >
            <img src="/img/icon-messenger.png" alt="Messenger" />
          </a>
        </li>
        <li>
          <button class="share-icon" @click="shareFacebook">
            <img src="/img/icon-facebook.png" alt="Facebook" />
          </button>
        </li>
      </ul>
    </div>
    <div class="share-link">
      <div class="text">Compartilhe seu link</div>
      <input type="text" readonly @click="selectAll" :value="shareLink" />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    shareLink: {
      type: String,
      required: true,
    },
  },
  methods: {
    shareFacebook() {
      window.open(
        `https://www.facebook.com/sharer/sharer.php?u=${this.shareLink}`,
        'pop',
        'width=600, height=400, scrollbars=no'
      );
    },
    selectAll(evt) {
      evt.target.select();
    },
  },
};
</script>

<style lang="scss" scoped>
.invite-friends {
  position: relative;
  margin-top: -15px;
  padding: 45px 20px 30px;
  border-radius: 0 0 15px 15px;
  background-color: #f5f4f4;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
  z-index: 7;
}

.title {
  margin: 0 0 10px;
  font-family: 'Avenir Next Ultra', sans-serif;
  font-size: 28px;
  font-weight: 200;
  text-align: center;
  color: #611d72;
}

.share-options {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
  line-height: 0;

  li {
    margin: 0 5px;
  }

  .share {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 22px;
    background-color: #da4290;
    padding: 3px 0 0;
    margin-right: 10px;
    border: 0;
    border-radius: 11px;
    font-family: 'Avenir Next', sans-serif;
    font-size: 13px;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;

    &:active,
    &:focus {
      opacity: 0.75;
      outline: 0;
    }
  }

  .share-icon {
    display: block;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 0;
    background: none;
    line-height: 0;
    cursor: pointer;

    &:active,
    &:focus {
      opacity: 0.75;
      outline: 0;
    }
  }
}

.share-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;

  .text {
    color: #611d72;
    font-family: 'Avenir Next', sans-serif;
    font-size: 15px;
    font-weight: 500;
  }

  input {
    width: 280px;
    height: 26px;
    margin: 2px 0 0;
    padding: 0 10px 2px;
    border: 1px solid #da4290;
    border-radius: 13px;
    background-color: transparent;
    line-height: 1;
    color: #611d72;

    &:focus {
      outline: 0;
      border-color: darken(#da4290, 10%);
    }
  }
}

@media screen and (min-width: 769px) {
  .invite-friends {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 65px 0 50px;
  }

  .title {
    font-size: 32px;
  }

  .share-options {
    .share {
      width: 150px;
      height: 35px;
      border-radius: 17.5px;
      font-size: 16px;
    }

    .share-icon {
      width: 25px;
      height: 25px;
    }
  }

  .share-link {
    margin-top: 0;
    margin-left: 50px;
    align-items: flex-start;

    .text {
      font-size: 24px;
    }

    input {
      width: 410px;
      height: 30px;
      padding: 0 10px 1px;
      margin-top: 10px;
      border-radius: 15px;
    }
  }
}
</style>