<template>
  <div class="custom-map">
    <div class="leaflet-map" id="leaflet-map"></div>
    <a :href="`https://www.google.com/maps/dir/?api=1&destination=${lat},${lng}&dir_action=navigate`" class="box">
      Vem<br>pra<br>cá
      <div class="icon"></div>
    </a>
  </div>
</template>

<script>
import L from 'leaflet';

const token = 'pk.eyJ1IjoidGhpYXVncHIiLCJhIjoiY2swYm5yMGl3MDBzdjNpcWo1NW9yNHlodiJ9.cQ03dDYSw4MNbNN7c6HmQQ';
export default {
  props: {
    lat: {
      type: Number,
      required: true,
    },
    lng: {
      type: Number,
      required: true,
    },
  },
  mounted() {
    const map = L.map('leaflet-map', {
      center: [this.lat, this.lng],
      zoom: 16,
      scrollWheelZoom: false,
      dragging: false,
    });

    const icon = L.icon({
      iconUrl: '/img/marker.png',
      iconSize: [43.5, 33],
      iconAnchor: [21.75, 22],
      popupAnchor: [0, -24],
  });

    const marker = L.marker([this.lat, this.lng], { icon });
    marker.bindPopup("STZ - Salvador");
    marker.addTo(map);

    L.tileLayer(`https://api.mapbox.com/styles/v1/thiaugpr/ck0bod7xb3a761cmnbt5982qq/tiles/{z}/{x}/{y}?access_token=${token}`, {
        attribution: '© <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

  },
};
</script>

<style lang="scss">
.custom-map {
  position: relative;
  margin-top: -15px;
  padding: 0;
  border-radius: 0 0 15px 15px;
  background-color: #dadada;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.3);
  color: #da4290;
  z-index: 7;
  overflow: hidden;

  .leaflet-map {
    width: 100%;
    height: 320px;

    @media screen and (min-width: 769px) {
      height: 420px;
    }
  }

  .leaflet-top {
    top: 20px;
  }

  .box {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 86px;
    height: 110px;
    padding-left: 10px;
    background-color: #da4290;
    border-right: 16px solid #702283;
    border-radius: 0 16px 16px 16px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    z-index: 500;

    .icon {
      position: absolute;
      right: -13px;
      top: 50%;
      width: 10px;
      height: 10px;
      margin-top: -5px;
      border: 3px solid #ffffff;
      border-radius: 50%;
      background-color: #d93c8c;
    }

    @media screen and (min-width: 769px) {
      bottom: 80px;
      width: 118px;
      height: 146px;
      font-size: 28px;
    }
  }
}
</style>