<template>
  <div class="temp-form">
    <div class="info">
      <div class="big">Faça seu cadastro e chega mais!</div>
      <div class="small">
        É hora de descolar
        <span class="highlight">40%</span> de desconto em
        <br />
        <span class="highlight">toda a loja</span> na inauguração. Vem!
      </div>
    </div>
    <form @submit.prevent="onSubmitStepOne" v-if="step === 0">
      <div class="field">
        <input type="email" placeholder="Endereço de e-mail*" required v-model="email" />
      </div>
      <div class="field mt20">
        <button type="submit">Quero!</button>
      </div>
    </form>
    <form @submit.prevent="onSubmitStepTwo" v-if="step === 1">
      <div class="loading" v-if="busy">
        <Loader />
      </div>
      <div class="field">
        <input type="text" placeholder="Nome completo*" required v-model="name" />
      </div>
      <div class="field">
        <input type="tel" placeholder="CPF*" required v-mask="'###.###.###-##'" v-model="cpf" />
      </div>
      <div class="field">
        <input
          type="tel"
          placeholder="Telefone"
          v-mask="['(##) ####-####', '(##) #####-####']"
          v-model="phone"
        />
      </div>
      <div class="field mt20">
        <div class="question">Quais categorias de sapatos você consome?</div>
        <ul class="options">
          <li>
            <input type="checkbox" value="Feminino" id="option-feminino" v-model="categories" />
            <label for="option-feminino">Feminino</label>
          </li>
          <li>
            <input type="checkbox" value="Masculino" id="option-masculino" v-model="categories" />
            <label for="option-masculino">Masculino</label>
          </li>
          <li>
            <input type="checkbox" value="Infantil" id="option-infantil" v-model="categories" />
            <label for="option-infantil">Infantil</label>
          </li>
        </ul>
      </div>
      <div class="field mt20">
        <button type="submit">Quero!</button>
      </div>
    </form>
    <div class="finished" v-if="step === 2">
      <p>Seu cadastro foi concluído com sucesso! Em breve você receberá um e-mail com seu cupom de desconto.</p>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { mask } from 'vue-the-mask';
import Loader from './Loader.vue';

export default {
  components: { Loader },
  directives: { mask },
  props: {
    place: {
      type: String,
      required: true,
    },
    inStore: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      step: 0,
      email: null,
      name: null,
      cpf: null,
      phone: null,
      categories: [],
      busy: false,
    };
  },
  methods: {
    onSubmitStepOne() {
      fbq('track', 'Lead');
      this.step++;
    },
    async onSubmitStepTwo() {
      const { email, name, cpf, phone, categories, place, inStore } = this;

      if (!this.validate()) {
        this.$toast.show({
          type: 'error',
          text: this.errorMessage,
        });
        return;
      }

      try {
        this.busy = true;
        const payload = { email, name, cpf, phone, categories, place, inStore };
        const res = await axios.post('/api/users', payload);
        fbq('track', 'CompleteRegistration');
        this.step++;
      } catch (err) {
        this.$toast.show({
          type: 'error',
          text: err.response.data.message,
        });
      } finally {
        this.busy = false;
      }
    },
    validate() {
      if (!this.validateCPF(this.cpf)) {
        this.errorMessage = 'O CPF digitado é inválido.';
        return false
      }

      if (this.categories.length < 1) {
        this.errorMessage = 'Selecione pelo menos UMA categoria de sapatos.';
        return false
      }

      return true;
    },
    validateCPF(cpf) {
      cpf = cpf.replace(/[^\d]+/g, '');
      if (cpf == '') return false;
      // Elimina CPFs invalidos conhecidos
      if (
        cpf.length != 11 ||
        cpf == '00000000000' ||
        cpf == '11111111111' ||
        cpf == '22222222222' ||
        cpf == '33333333333' ||
        cpf == '44444444444' ||
        cpf == '55555555555' ||
        cpf == '66666666666' ||
        cpf == '77777777777' ||
        cpf == '88888888888' ||
        cpf == '99999999999'
      )
        return false;
      // Valida 1o digito
      let add = 0;
      let rev;
      for (let i = 0; i < 9; i++) add += parseInt(cpf.charAt(i)) * (10 - i);
      rev = 11 - (add % 11);
      if (rev == 10 || rev == 11) rev = 0;
      if (rev != parseInt(cpf.charAt(9))) return false;
      // Valida 2o digito
      add = 0;
      for (let i = 0; i < 10; i++) add += parseInt(cpf.charAt(i)) * (11 - i);
      rev = 11 - (add % 11);
      if (rev == 10 || rev == 11) rev = 0;
      if (rev != parseInt(cpf.charAt(10))) return false;
      return true;
    },
  },
};
</script>

<style lang="scss" scoped>
.temp-form {
  position: relative;
  margin-top: -15px;
  padding: 35px 20px 20px;
  border-radius: 0 0 15px 15px;
  background-color: #611d72;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.3);
  color: #da4290;
  z-index: 8;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: -60px;
    padding: 100px 20px 40px;
    border-radius: 0 0 15px 0;
    background-color: #702283;
    box-shadow: none;
  }
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(97, 29, 114, 0.75);

    @media screen and (min-width: 769px) {
      background-color: rgba(112, 34, 131, .75);
    }
  }

  .loader {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.info {
  text-align: center;

  .big {
    font-size: 19.74px;
    font-weight: 700;
    color: #da4290;

    @media screen and (min-width: 769px) {
      font-size: 26px;
    }
  }

  .small {
    margin-top: 8px;
    font-size: 12.656666667px;
    color: #fb5eae;

    .highlight {
      font-weight: 700;
      text-transform: uppercase;
    }

    @media screen and (min-width: 769px) {
      font-size: 16px;
    }
  }

  @media screen and (min-width: 769px) {
    margin-top: 0;
  }
}

form {
  position: relative;
  margin-top: 20px;
}

.field {
  margin-top: 10px;
  text-align: center;

  &.mt20 {
    margin-top: 20px;
  }
}

input[type='email'],
input[type='text'],
input[type='tel'] {
  width: 250px;
  height: 34px;
  padding-right: 12px;
  padding-bottom: 2px;
  padding-left: 12px;
  border-radius: 17px;
  border: 1px solid #da4290;
  background: none;
  font-size: 14px;
  color: #da4290;
  transition: all 0.3s;

  &:focus {
    outline: 0;
    border-color: lighten(#da4290, 5%);
  }

  &::-webkit-input-placeholder {
    color: #da4290;
    opacity: 0.5;
  }

  &::-moz-placeholder {
    color: #da4290;
    opacity: 0.5;
  }

  &:-ms-input-placeholder {
    color: #da4290;
    opacity: 0.5;
  }

  &:-moz-placeholder {
    color: #da4290;
    opacity: 0.5;
  }

  @media screen and (min-width: 769px) {
    width: 320px;
    height: 42px;
    border-radius: 21px;
    font-size: 16px;
  }
}

.options {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0;
  padding: 0;
}

input[type='checkbox'] {
  position: absolute;
  left: -9999px;
  visibility: hidden;

  &:checked {
    + label {
      background-color: #da4290;
      color: #702283;
    }
  }

  + label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 90px;
    margin: 0 2.5px;
    border: 1px solid #da4290;
    border-radius: 17px;
    font-size: 14px;
    color: #da4290;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      opacity: .75;
    }

    @media screen and (min-width: 769px) {
      width: 120px;
      height: 42px;
      margin: 0 10px;
      border-radius: 21px;
      font-size: 16px;
    }
  }
}

button[type='submit'] {
  width: 100px;
  height: 34px;
  border: 0;
  border-radius: 17px;
  background-color: #da4290;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  transition: all .3s;

  &:hover {
    opacity: .75;
  }

  @media screen and (min-width: 769px) {
    width: 150px;
    height: 42px;
    border-radius: 21px;
    font-size: 16px;
  }
}

.finished {
  p {
    max-width: 300px;
    margin: 35px auto 20px;
    text-align: center;
  }
}
</style>
